<!DOCTYPE html>
<html>
  <body>
    <h1>Making your Work Easy</h1>
    <button type="button">DMGR</button>
    <form>
      <label> Option 1</label>
      <select>
        <option value="DMGR">DMGR</option>
        <option value="SERVER">SERVER</option>
      </select>
    </form>

    <form>
      <label> Option 2</label>
      <select>
        <option value="Retail">Retail</option>
        <option value="Corporate">Corporate</option>
        <option value="Merchant">Merchant</option>
        <option value="Byono">Byono</option>
        <option value="Lotus">Lotus</option>
        <option value="Intranet">Intranet</option>
        <option value="OAO">OAO</option>
        <option value="MSW">MSW</option>
        <option value="Prelogin">Prelogin</option>
      </select>
    </form>

    <form>
      <label> Option 3</label>
      <select>
        <option value="RBL">RBL</option>
        <option value="GBL">GBL</option>
      </select>
    </form>

    <form>
      <label> Option 4</label>
      <select>
        <option value="RBL">RBL</option>
        <option value="GBL">GBL</option>
      </select>
    </form>

    <form>
      <label> Option 5</label>
      <select>
        <option value="Run">Run</option>
        <option value="Stop">Stop</option>
      </select>
    </form>
  </body>
</html>
