<!DOCTYPE html>
<html>
  <body>
    <h1>Making your Work Easy</h1>
    <button type="button">./WAS_STOP_START.sh</button>
    <form>
      <label> Server</label>
      <select>
        <option value="DMGR">DMGRWISE</option>
        <option value="SERVER">SERVERWISE</option>
      </select>
    </form>

    <form>
      <label> Applications</label>
      <select>
        <option value="Retail">Retail</option>
        <option value="Corporate">Corporate</option>
        <option value="Merchant">Merchant</option>
        <option value="Byono">Byono</option>
        <option value="Lotus">Lotus</option>
        <option value="Intranet">Intranet</option>
        <option value="OAO">OAO</option>
        <option value="MSW">MSW</option>
        <option value="Prelogin">Prelogin</option>
      </select>
    </form>

    <form>
      <label> Data Center</label>
      <select>
        <option value="RBL">RBL</option>
        <option value="GBL">GBL</option>
      </select>
    </form>

    <form>
      <label> IP: </label>
      <input type="text" name="Name" size="20" />
      <br />
      <br />
    </form>

    <form>
      <label> Action</label>
      <select>
        <option value="Run">Run</option>
        <option value="Stop">Stop</option>
      </select>
    </form>
  </body>
</html>
